<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Francois+One" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />

<div class="edit_bg">
<h1>New Rental</h1>

<%= render 'form' %>

<%= link_to 'Back', rentals_path, :class=>'back_edit' %>
</div>
