// Place all the styles related to the Rentals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-nav> li> a:hover, .navbar-brand:hover{
	box-shadow: inset 0 3px 5px rgba(0,2,4,0.125);
}

.btn-primary:hover, .btn:hover{
	opacity: 0.5;
}

div.jumbotron{
	background: #30415D;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	color: white;
	font-family: Francois One;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 15px;
}

div.jumbotron h1{
	font-size: 50px;
}

a.btn btn-primary{
	border: 10px white;
	display: inline;
	background-color: #8EAEBD;
}

a.btn{
	background: #e1e8f3;
	border: 2px black;
}

a.sign-up-index{
	background: #286090;
	border: 2px black;
}

div.gmap{
	margin-right: auto;
	margin-left: auto;
	width: 1100px;
	margin-bottom: 30px;
}

p#headlabel{
	font-family: Yanone Kaffeesatz;
	font-size: 20px;
	color: #8d8d81;	
	margin-bottom: 40px;
}

div.thumbnail{
	font-family: Francois One;
	font-size: 19px;
	text-align: center;
	color: #333;
}

////show rental 

div.title, h1.rental_title{
	text-align: center;
	font-size: 30px;
	color: rgb(8,64,90);
	font-family: Francois One;
}

div.row{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
}

div.show_map{
	float: left;
	width:50%;
	margin:0px;
}

div.show{
	box-sizing: border-box;
	padding: 10px;
	margin: 30px;
}

div.col-md-4{
	float: left;
	width: 50%;
	padding: 0px;
}

div.img_bg{
	position: relative;
	height: 400px;
	background: white;
	border: 2px solid black;
}

img#show_image{
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	position: absolute;
	max-width: -moz-available;
	max-height: 398px;
}

strong{
	font-family: Francois One;
	white-space: nowrap;
}

td:not(strong){
	font-family: Yanone Kaffeesatz;
	white-space: nowrap;
	font-size: 19px;
}

td{
	width: 50%;
}

div.col-md-4>div.panel{
	width: -moz-available;
	background: white;
	color: orange;
}

div.show_map>div.panel{
	width: -moz-available;
	color: orange;
	margin: 0px;
	padding: 0px;
}

a#profile{
	color: orange;
	font-family: Yanone Kaffeesatz;
	white-space: nowrap;
	text-decoration: underline;
}

div.show_links{
	margin-right: 10px;
	float: right;
}

div.show_links>a, div.review_header>a, a#edit_review_link{
	color: #b03f13;
}

a.btn.btn-danger.write_button{
	background: #b03f13;
	margin: 20px;
}

div.rental_review{
	background: white;
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border: 2px  orange solid;
	border-radius: 23px;
	padding-bottom: 15px;
}

a.edit_review_link{
	font-size: 15px;
}

div.reviews{
	display: inline-block;
	width: 40%;
}

div.review_header{
	display: block;
}

/////edit

div.edit_bg{
	margin: 10px;
}


div.rental_bg{
	padding-top: 10px;
	background: white;
	opacity: 0.8;
	width: 55%;
	float: left;
	border-top: blue 3px solid;
	margin-bottom: 20px;
	border-bottom: blue 3px solid;
	border-right: solid 3px blue;
}

div.rental_bg>div.field{
	margin: 13px;
}

div.edit_adds{
	float:left;
	width: 45%;
	text-align: center;
	background: white;	
	opacity: 0.8;
	border-top: solid 3px blue;
	border-bottom: solid 3px blue;
	padding-top: 20px;
}

div#plot{
	margin-top: 10px;
	border-top: 3px solid blue;
	padding-top: 10px;
}

div.rental_bg>div.field>label, div#plot>p, label#image_label{
	color: #0b6f90;	
	font-size: 18px; 
	font-family: Francois One;
	margin-left: 15px;
}

div.rental_bg>div.field>input:not(#rental_image), textarea#rental_description{
	font-size: 18px;
	float: right;
	margin-right: 20%;
	vertical-align: center;
}

input#rental_image{
	width: -moz-available;
	text-align: center;
	vertical-align: center;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	font-family: Yanone Kaffeesatz;
}

div#new_button>input[type="submit"]{
	font-size: 19px; 
	font-family: Francois One;
	display: block;
	clear: left;
}

a.back_edit{
	font-size: 20px; 
	font-family: Francois One;
	display: block;
	float:right;
}

a#show_link{
	font-size: 20px; 
	margin-right: 15px;
	float: left;
}

div#new_button>input[type="submit"]{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.edit_bg>h1, h1#edit_rental_h{
	text-align: center;
	font-size: 25px;
	font-family: Arvo;
	color: rgb(8,64,90);
	font-weight: bold;
}

label.new-review-label{
	color: #23527c;
	font-size: 19px;
	font-family: Francois One;
}

