// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.bg{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	background: #eaeaea;
	width: 50%;
	padding: 15px 15px 30px 15px;
	border-radius: 20px;
	border: 2px solid black;
}


h1.reg, h2.reg{
	text-align: center;
	font-family: Francois One;
	margin-bottom: 20px;
	color: rgb(8,64,90);
}

div.table-account{
	padding-left: 34%;
	clear: right;
}

label.new-user-label, label#box_label{
	color: #23527c;
	font-size: 19px;
	font-family: Francois One;
}

label#box_label{
	font-style: italic;
}

tr.row-account{
	color: #23527c;
}

td.account-left{
	padding-right: 40px;
	font-family: Francois One;
	font-size: 20px;
}

td.account-right{
	font-family: Yanone Kaffeesatz;
	font-size: 21px;
}

form.new_user>div.field, form.edit_user>div.field{
	margin-bottom: 20px;
}

a#forgot_link, a#signup_link{
	margin-bottom: 20px;
}

input, p#link{
	font-family: Yanone Kaffeesatz;
	font-size: 18px;
	color: #5e5e5e;
}

div.login_other{
	margin-bottom: 20px;
	font-size: 19px;
}

textarea, input:not(#checkbox):not(#rental_image){
	width: 250px;
}

form.new_user>div.field, form.edit_user>div.field:not(#checkfield){
	margin-left: 32%;
}

input.checkbox{
	height: 50px;
}

input.submit{
	height: 40px;
	margin-left: 32%;
	font-family: Francois One;
	font-size: 18px;
}

p.label, p.links{
	font-size: 18px;
	color: #5e5e6e;
	font-style: italic;
	margin-left: 25%;
	font-family: Francois One;
}

a{
	font-size: 18px;
}

td>strong{
	font-family: Francois One;
	font-size: 18px;
}

td{
	font-family: Yanone Kaffeesatz;
	font-size: 18px;
}

span.label{
	height: 40px;
	margin-left: 20%;
	font-family: Francois One;
	font-size: 18px;
	color: rgb(16, 94, 144);
}

span.info{
	font-family: Yanone Kaffeesatz;
	font-size: 20px;
	margin-left: 7%;
	color: rgb(19, 76, 102);
}

a.login_link{
	float: left;
}

a#editacc_back{
	float: right;
	margin-bottom: 10px;
}

div#cancel_acc{
	clear: right;
	text-align: center;
	padding-top: 10px;
	display: block; 
	border-top: solid 2px black;
	font-size: 18px;
}

p#norent{
	font-family: Francois One;
	font-size: 18px;
	text-align: center;
}
