// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.bg{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	background: #d5d5d5;
	width: 50%;
	opacity: 0.9;
	padding: 15px 15px 30px 15px;
}

h1.reg, h2.reg{
	text-align: center;
	font-family: Francois One;
	margin-bottom: 20px;
}

label, input, p#link{
	font-family: Yanone Kaffeesatz;
	font-size: 18px;
	color: #5e5e5e;
}

textarea, input:not(#checkbox):not(#rental_image){
	width: 250px;
}

div.field:not(#checkfield, div.edit_bg>div.field){
	margin-left: 32%;
}

input.checkbox{
	height: 50px;
}

input.submit{
	height: 40px;
	margin-left: 32%;
	font-family: Francois One;
	font-size: 18px;
}

p.label, p.links{
	font-size: 18px;
	color: #5e5e6e;
	font-style: italic;
	margin-left: 25%;
	font-family: Francois One;
}

a{
	font-size: 18px;
}

td>strong{
	font-family: Francois One;
	font-size: 18px;
}

td{
	font-family: Yanone Kaffeesatz;
	font-size: 18px;
}

span.label{
	height: 40px;
	margin-left: 20%;
	font-family: Francois One;
	font-size: 18px;
	color: rgb(16, 94, 144);
}

span.info{
	font-family: Yanone Kaffeesatz;
	font-size: 20px;
	margin-left: 7%;
	color: rgb(19, 76, 102);
}

a.login_link{
	float: left;
}

a#editacc_back{
	float: right;
	margin-bottom: 10px;
}

div#cancel_acc{
	clear: right;
	text-align: center;
	padding-top: 10px;
	display: block; 
	border-top: solid 2px black;
	font-size: 18px;
}

p#norent{
	font-family: Francois One;
	font-size: 18px;
	text-align: center;
}
